<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="starter">
    <ion-content><br><br>
      <div class="card">
        <div ng-controller="ZCOIN" class="item item-text-wrap">
        <figure>
          <img src="img/zcoin.png" class="crypto-image">
            <figcaption class="fig-crypto item-note"> Zcoin</figcaption>
        </figure>
        <p>USD: ${{zcoinprice}}</p>

        <p ng-if="zcoinday.indexOf('-') >= 0">Change 24h: <b style="color:red"><i class="ion-arrow-down-b" style="color:red"></i>{{zcoinday}}</b></p>
        <p ng-if="zcoinday.indexOf('-') < 0 ">Change 24h: <b style="color:green"><i class="ion-arrow-up-b" style="color:green"></i>{{zcoinday}}</b></p>
        
          
        </div>
      </div>
    </ion-content>
  </body>
</html>
